<!DOCTYPE html>
<html>
<head>
	<title>Página Inicial</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/material-design-iconic-font.min.css">
</head>
<body>
	<% include ../header/header %>
	
	<div class="container">
		<div class="page-head">
			<h2 class="page-head-title">Estatísticas</h2>
		</div>
		
		<hr>
		<div class="main-content container-fluid">
			<div class="row">
			    <div class="col-md-9">
			      <canvas id="canvas_default"></canvas>
			    </div>
			    <div class="col-sm">
			    	<div class="col-12 col-lg-6 col-xl-3">
			    		<div class="widget widget-tile">
			    			<div id="spark1" class="chart sparkline"></div>
			    			<div class="data-info">
			    				<div class="desc">Dispositivos</div>
			    				<div class="value"><span class="indicator indicator-equal mdi mdi-chevron-right"></span><span data-toggle="counter" data-end="113" class="number"><%= devices[0].quantidade %></span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    	<div class="col-12 col-lg-6 col-xl-3">
			    		<div class="widget widget-tile">
			    			<div id="spark2" class="chart sparkline"></div>
			    			<div class="data-info">
			    				<div class="desc">Registros</div>
			    				<div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span><span data-toggle="counter" data-end="80" data-suffix="%" class="number"><%= devices[0].registros %></span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    </div>
			  </div>
			<br>

		</div>
		

		<div class="page-head">
			<h2 class="page-head-title">Dispositivos</h2>
		</div>
		<hr/>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Tópico</th>
					<th scope="col">Menu</th>
				</tr>
			</thead>
			<tbody>
				<% 
				if(typeof(devices) != "undefined"){
					for (var i = 0; i < devices[1].length; i++) { %>
					<tr>
						<td> <%= devices[1][i].nome_dispositivo %> </td>
						<td> <%= devices[1][i].topic%> </td>
						<td> <%= devices[1][i].protocolo %> </td>
					</tr>		
					<%
				}
			}
			%>
		</tbody>
	</table>
	<hr/>
	<div id="charts"></div>
</div>

<style type="text/css">
.widget.widget-tile .data-info {
	display: table-cell;
	text-align: left;
}

.widget.widget-tile .data-info .desc {
    font-size: 1.077rem;
    line-height: 18px;
    overflow: initial;
    text-overflow: ellipsis;
    white-space: nowrap;
}


</style>
<script type="text/javascript">
	var dados_grafico = [];
	var labels = []
	var data=[];

	function _ajax(){
		$.ajax({
			url: '/dispositivos/dados/grafico',
			type: 'GET',
			dataType: 'json',
			data: {param1: 'value1'},
		})
		.done(function(dados) {
			console.log("success");
			for(i = 0; i < dados.length ; i++){
				dados_grafico.push(dados[i].x)
				labels.push(dados[i].y)
			}		
			gera_grafico();

		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
	}
	

	function gera_grafico(){

		var myChart = new Chart($("#canvas_default"), {
			type: 'line',
			data:{
				labels: labels,
				datasets: [{
					label:'Mensagens',
					data: dados_grafico,
					fill: false
				}]
			},

			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Registro de Mensagens'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				scales: {
					yAxes: [{
						stacked: true
					}]
				}
			}
		});
	}

	_ajax();

</script>
</body>
</html>